@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

:root {
  --typography-html-font: 17px var(--sans-serif);
  --sans-serif: system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  --mono: Fira Code, Menlo, monospace;
}

@supports (font-variation-settings: normal) {
  :root {
    --mono: Fira Code VF, Menlo, monospace;
  }
}

/* titles */
.title, h2, h3, h4, h5, h6, .abstract, .eyebrow, .title, .summary-list-item a {
  font-family: Overpass, var(--sans-serif) !important;
}
/* prose */
body, .caption, .nodocumentation, .platforms, .declaration-diff-version, .content:not(.abstract) {
  font-family: Overpass, var(--sans-serif) !important;
}
/* ui */
.nav-menu, .nav-title, .color-scheme-toggle, .label, .button-cta, .filename, .tabnav-link, .badge, a {
  font-family: var(--sans-serif) !important;
}

.eyebrow + h1.title, code, .code-number {
  font-family: var(--mono) !important;
}
code {
  font-size: 0.95em;
}


.title {
  font-weight: 800 !important;
}

#declaration h2,
.content h2, .content h3, .content h4, .content h5, .content h6,
.badge.badge-deprecated, h3.title,
.eyebrow {
  font-weight: 700 !important;
}

.token-attribute, .token-keyword {
  font-weight: 480;
}

.content .code-listing pre>code {
  font-size: 0.8em !important;
}

.summary-list-item .icon-holder {
  display: none !important;
}
.summary-list-item a {
  font-weight: 600;
}
.summary-list-item a:hover {
  text-decoration: none;
}
.summary-list-item a .link-text:hover {
  text-decoration: underline;
}
.summary-list-item a::before {
  content: '# ';
  opacity: 0.5;
}

.nav-title, .nav-menu {
  font-size: 0.95em !important;
}
nav:not(.nav--in-breakpoint-range) .nav-title,
nav:not(.nav--in-breakpoint-range) .nav-menu {
  padding-top: 0 !important;
  height: 52px !important;
}
nav:not(.nav--in-breakpoint-range) .nav-title, .nav-menu-item:first-child svg {
  display: none !important;
}
.hierarchy-item:first-child {
  margin-left: 0 !important;
}

.relationships-list.inline li:not(:last-child):after {
  content: '' !important;
  width: 1em;
  height: 10px;
  display: inline-block;
}

body[data-color-scheme=light] {
  --color-figure-blue: #0074D9;
  --color-fill-blue: var(--color-figure-blue);
}
@media screen and (prefers-color-scheme: light) {
  body {
    --color-figure-blue: #0074D9;
    --color-fill-blue: var(--color-figure-blue);
  }
}

body {
  --color-fill: #fcfcfc;
}

@media screen {
  body[data-color-scheme=dark] {
    --color-fill: #1a1a1a;
  }
}
@media screen and (prefers-color-scheme: dark) {
  body {
    --color-fill: #1a1a1a;
  }
}
